*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #131921;
    height: 60px;
    display: flex;
    cursor: pointer;
}

.navbar .nav-left{
    width: 15%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .nav-left .logo{
    width: 50%;
}

.navbar .nav-left .logo img{
    width: 90%;
    margin: 15px 0 0px 0px;
}

.navbar .nav-left .nav-location {
    color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.navbar .nav-left .nav-location i{
    margin-top: 1.5vh;
    width: 1vw;
}

.navbar .nav-left .nav-location .location-text{
    display: flex;
    flex-direction: column;
    line-height: 2vh;
}

.navbar .nav-left .nav-location .location-text .location-text-1{
    font-size: 12px;
}

.navbar .nav-left .nav-location .location-text .location-text-2{
    font-size: 14px;
    font-weight: 600;
}

.navbar .nav-fill{
    width: 55%;
}

.navbar .nav-fill .search-bar{
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar .nav-fill .search-bar select{
    background-color: #D4D4D4;
    height: 100%;
    width: 5%;
    border-radius: 5px 0px 0px 5px;
    /* padding: 0 .5vw; */
}

.navbar .nav-fill .search-bar input{
    height: 100%;
    width: 90%;
    padding: 10px;
}

.navbar .nav-fill .search-bar i{
    height: 100%;
    width: 5%;
    font-size: 24px;
    background-color: #F3A847;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    padding: .5vw 0;
}
.navbar .nav-right{
    width: 30%;
    display: flex;
    flex-direction: row;
    color: #fff;
    justify-content: space-between;
    padding: 16px;
}

.navbar .nav-right .lang{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
    font-size: 14px;
    font-weight: 600;
}

.navbar .nav-right .sign-in{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}

.navbar .nav-right .sign-in .signin-text-1{
    font-size: 12px;
}

.navbar .nav-right .sign-in .signin-text-2{
    font-size: 14px;
    font-weight: 600;
}

.navbar .nav-right .orders{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2px;
}

.navbar .nav-right .orders .orders-text-1{
    font-size: 12px;
}

.navbar .nav-right .orders .orders-text-2{
    font-size: 14px;
    font-weight: 600;
}

.navbar .nav-right .cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: white;
    position: relative;
}

.navbar .nav-right .cart i{
    font-size: 28px;
    position: relative;
}

.navbar .nav-right .cart i::after{
    content: "0";
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: black;
    position: absolute;
    top: 2px;
    left: 14px;
}

.navbar .nav-right .cart .cart-text{
    font-size: 14px;
    font-weight: 600;
    align-self: flex-end;
}

.nav{
    width: 100%;
    height: 40px;
    padding: 0 16px;
    background-color: #232f3e;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 16px;
}

.nav a:first-child{
    font-weight: 600;
}

.nav a{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.slider{
    width: 100%;
}

.slider-images{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.slider .slider-images img{
    width: 100%;
}

.slider{
    position: relative;
}

.slider .slider-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    padding: 3vw;
}

.slider .slider-buttons .slider-btn{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    height: 50px;
    width: 50px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    border-radius: 5px;
}

.grid-container{
    width: 100%;
    position: absolute;
    top: 50%;
    background: linear-gradient(to top, #f2f2f2, #f2f2f2, #f2f2f2, #f2f2f200);
    border: 2px solid red;
    display: grid;
    padding: 24px;
    grid-template-areas: "i1 i2 i3 i4"
                        "i5 i6 i7 i8";
    gap: 24px;
}

.grid-container .grid-item{
    border: 2px solid rgb(2, 87, 25);
    height: 55vh;
    background-color: white;
}

.i1{
    grid-area: i1;
}

.i2{
    grid-area: i2;
}

.i3{
    grid-area: i3;
}

.i4{
    grid-area: i4;
}

.i5{
    grid-area: i5;
}

.i6{
    grid-area: i6;
}

.i7{
    grid-area: i7;
}

.i8{
    grid-area: i8;
}